/* Define variables */

/* light mode colors */
/* not updated since demo, needs work before use */
.light-mode{
    --tableBackground: #FFF;
    --popupBackground: linear-gradient(-225deg, #FFF, #AAA);

    --buttonColor: #EEE;
    --buttonHoverColor: rgba(196,196,196,1);
    --buttonActiveColor: rgba(128,128,128,1);

    --activeTabBackgroundColor: #AAA;
    --inactiveTabColor: #DDD;

    --tableHeaderColor: #F28C28;
    --tableHeaderTextColor: #222;
    
    --tableRowHoverColor: rgba(160,90,30,0.25);
    --tableRowPrimaryColor: #FFF;
    --tableRowAlternateColor: #E2E2E2;
    --tableTextColor: #000;

    --searchBarBackgroundColor: #DDD;
}

/* dark mode colors */
/* the default, and most up to date color scheme */
.dark-mode{
    --popupBackground: linear-gradient(-225deg, #222, #555);
    --popupBackgroundColor: #0F0F0F; 

    --tabButtonHoverColor: #333;
    --tabButtonPressedColor: #444;

    --activeTabBackgroundColor: #262626;
    --activeTabTextColor: #EEE;
    --activeTabGradient: linear-gradient(-10deg, #262626, #262626, #2D2D2D, #444444);

    --inactiveTabColor: #1D1D1D;
    --inactiveTabTextColor: #BBB;

    --tableBackground: #262626;
    --tableHeaderColor: #FFA116;
    --tableHeaderTextColor: #222;
    
    --tableRowHoverColor: #CCC;
    --tableRowHoverTextColor: #111;
    --tableRowPrimaryColor: #303030;
    --tableRowAlternateColor: #444444;
    --tableTextColor: #DDD;
    --tableTextSize: 20px;

    --buttonColor: #3C3C3C;
    --buttonHoverColor: #4E4E4E;
    --buttonActiveColor: #565656;
    --buttonTextColor: #EEE;

    --searchBarBackgroundColor: #3C3C3C;
    --searchBarHoverColor: #4E4E4E;
    --searchBarActiveColor: #565656;
    --placeholderTextColor: #EEE;
    --searchBarTextColor: #EEE;

    --textColor: #EEE;

    --horizontalBarColor: #AAA;
}

/* Set the dimensions and background color of the window */

html{
    width: 425px;
    height: 525px;
    color: var(--textColor);
}
body{
    /*background-image: var(--popupBackground);*/
    background-color: var(--popupBackgroundColor);
}

/* Display the home page icon */

#homeIcon{
    display: block;
}

#jileHomeIcon{
    border-radius: 8px;
    box-shadow: 0px 0px 16px 4px #000;
    margin: 75px 0px 0px 76px;
}

/* User signed in as information */ 

#userSignedIn{
    z-index: 0;
    position: absolute;
    text-align: right;
    width: 400px;
    top: 10px;
    margin: 4px;
    height: 0px;
}

#usernameText{
    font-style: italic;
}

/* Style the different tabs and their status */

.tabbutton{
    border: none;
    display: inline-block;
    margin-right: -2px;
    font-size: 16px;
    padding: 4px 12px 2px 12px;
    border-radius: 6px 6px 0px 0px;
    cursor: pointer;
}
.tabbutton:hover{
    background-color: var(--tabButtonHoverColor);
}
.tabbutton:active{
    background-color: var(--tabButtonPressedColor);
}

.activeTab{
    background-image: var(--activeTabGradient);
    /*background-color: var(--activeTabBackgroundColor);*/
    color: var(--activeTabTextColor);
}
.inactiveTab{
    background-color: var(--inactiveTabColor);
    color: var(--inactiveTabTextColor);
}

.tabbody{
    display: none;
    background-color: var(--activeTabBackgroundColor);
    height: 485px;
    border-radius: 0px 4px 8px 8px;
}

/* Style the tables */

.tableDiv{
    padding: 10px;
    width: 389px;
}
table{
    width: 100%;
    border-spacing: 0;
    text-align: left;
    color: var(--tableTextColor);
    font-size: var(--tableTextSize);
}
th{
    background-color: var(--tableHeaderColor);
    color: var(--tableHeaderTextColor);
}
tr{
    background-color: var(--tableRowPrimaryColor);
    border-radius: 4px 4px 4px 4px;
}
tr:nth-child(even){
    background-color: var(--tableRowAlternateColor);
}
tr:hover {
    background-color: var(--tableRowHoverColor);
    color: var(--tableRowHoverTextColor);
}
th, td{
    padding: 0px 4px 0px 4px;
    text-align: center;
}
td:first-child,th:first-child{
    text-align: left;
}

/* Style the searchbar */

.searchBar{
    width: 230px;
    height: 30px;
    border-radius: 8px;
    background-color: var(--searchBarBackgroundColor);
    border: 0;
    margin: 30px 0px 20px 30px;
    padding: 10px;
    outline: none;
    color: var(--searchBarTextColor);
}
.searchBar:hover{
    background-color: var(--searchBarHoverColor);
}
.searchBar:active{
    background-color: var(--searchBarActiveColor);
}
input::placeholder{
    color: var(--placeholderTextColor);
}


/* Style the add/remove friend buttons */

.searchBarButton{
    background-color: var(--buttonColor);
    display: inline-block;
    height: 20px;
    font-size: 10px;
    border: 0;
    border-radius: 4px;
    color: var(--buttonTextColor);
    width: 96px;
    cursor: pointer;
}
.searchBarButton:hover{
    background-color: var(--buttonHoverColor);
}
.searchBarButton:active{
    background-color: var(--buttonActiveColor);
}

#removeFriendButton{
    margin: -32px 0px 0px 280px;
}

#addFriendButton{
    margin: -56px 0px 0px 280px;
}

#sendChallengeButton{
    margin: -47px 0px 0px 285px;
    height: 24px;
}

.removeFriendButton{
    height: 14px;
    width: 18px;
    display: inline-flex;
    position: absolute;
    right: 22px;
    cursor: pointer;
    margin-top: 3px;
    justify-content: center;
    align-items:center;
    padding-bottom: 4px;
    border-radius: 2px;
}
.removeFriendButton:hover{
    scale: 1.1;
}
.removeFriendButton:active{
    scale: 1.25;
}

/* Style the titles of each tab */

.tabTitle{
    margin:0;
    padding: 20px 10px 10px 10px;
    text-align: center;
}

#newChallengeTitle{
    padding-bottom: 0;
    margin-bottom: -10px;
}

/* style the horizontal rule (dividing bar) */

hr{
    background-color: var(--horizontalBarColor);
    width: 95%;
    height: 1px;
    border: none;
}
