/* Define variables */

:root{
    --tableBackground: #FFF;
    --popupBackground: linear-gradient(-225deg, #FFF, #AAA);

    --buttonColor: #EEE;
    --buttonHoverColor: rgba(196,196,196,1);
    --buttonActiveColor: rgba(128,128,128,1);

    --activeTabColor: #AAA;
    --inactiveTapColor: #DDD;

    --tableHeaderColor: #F28C28;
    --tableHeaderTextColor: #222;
    
    --tableRowHoverColor: rgba(160,90,30,0.25);
    --tableRowPrimaryColor: #FFF;
    --tableRowAlternateColor: #E2E2E2;
    --tableTextColor: #000;

    --searchBarBackgroundColor: #DDD;
}

/* Set the dimensions and background color of the window */

html{
    width: 400px;
    height: 500px;
}
body{
    background-image: var(--popupBackground);
}

/* Display the home page icon */

#homeIcon{
    display: block;
}

/* User signed in as information */ 

#userSignedIn{
    z-index: 0;
    position: absolute;
    text-align: right;
    width: 380px;
    top: 12px;
    margin: 2px;
    height: 0px;
}

#usernameText{
    font-style: italic;
}

/* Style the different tabs and their status */

.tabbutton{
    border: none;
    display: inline-block;
    margin-right: -2px;
    font-size: 16px;
    padding: 4px 12px 2px 12px;
    border-radius: 6px 6px 0px 0px;
}
.activeTab{
    background-color: var(--activeTabColor);
}
.inactiveTab{
    background-color: var(--inactiveTapColor);
}

.tabbody{
    display: none;
    background-color: var(--activeTabColor);
    height: 460px;
}

/* Style the tables */

.tableDiv{
    padding: 10px;
    width: 364px;
}
table{
    width: 100%;
    border-spacing: 0;
    text-align: left;
    color: var(--tableTextColor);
}
th{
    background-color: var(--tableHeaderColor);
    color: var(--tableHeaderTextColor);
}
tr{
    background-color: var(--tableRowPrimaryColor);
}
tr:nth-child(even){
    background-color: var(--tableRowAlternateColor);
}
tr:hover {
    background-color: var(--tableRowHoverColor);
}

/* Style the searchbar */

input::placeholder{
    color: rgba(128,128,128,0.5);
}
#searchBarTextBox{
    width: 230px;
    height: 30px;
    border-radius: 8px;
    background-color: var(--searchBarBackgroundColor);
    border: 0;
    margin: 30px 0px 20px 30px;
    padding: 10px;
}

/* Style the add/remove friend buttons */

.friendButton{
    background-color: var(--buttonColor);
    display: inline-block;
    height: 20px;
    font-size: 10px;
    border: 0;
    border-radius: 4px;
}
.friendButton:hover{
    background-color: var(--buttonHoverColor);
}
.friendButton:active{
    background-color: var(--buttonActiveColor);
}

#removeFriendButton{
    margin: -32px 0px 0px 280px;
}

#addFriendButton{
    margin: -56px 0px 0px 290px;
}

/* Style the titles of each tab */

#leaderboardTitle{
    margin:0;
    padding: 20px 10px 10px 10px;
    text-align: center;
}
