:root{
    --tableBackground: #FFFFFF;
    --popupBackground: linear-gradient(-225deg, #FFFFFF, #AAAAAA);
}

html{
    width: 400px;
    height: 500px;
}

body{
    background-image: var(--popupBackground);
}

.tabButton{
    display: inline-block;
    border-radius: 8px;
}

.tabbody{
    display: none;
}

#homeIcon{
    display: block;
}

.tableDiv{
    width: 380px;
    border-radius: 4px;
    background-color: var(--tableBackground);
}

th{
    background-color: #F28C28;
    color: #444444;
}

tr{
    background-color: #ffffff;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover {
    background-color: rgba(50,0,0,0.25);
}
