:root{
    --tableBackground: #FFF;
    --popupBackground: linear-gradient(-225deg, #FFF, #AAA);
}

html{
    width: 400px;
    height: 500px;
}

body{
    background-image: var(--popupBackground);
}

.tabbutton{
    border: none;
    display: inline-block;
    margin-right: -2px;
}

.tabButton{
    display: inline-block;
    border-radius: 6px 6px 0px 0px;
}

.activeTab{
    background-color: #aaa;
}

.inactiveTab{
    background-color: #ddd;
}

.tabbody{
    display: none;
}

#homeIcon{
    display: block;
}

.tableDiv{
    width: 380px;
    border-radius: 4px;
    background-color: var(--tableBackground);
}

table{
    width: 100%;
    border-spacing: 0;
    text-align: left;
}

th{
    background-color: #F28C28;
    color: #222;
}

tr{
    background-color: #fff;
}

tr:nth-child(even){
    background-color: #e2e2e2;
}

tr:hover {
    background-color: rgba(160,90,30,0.25);
}
